/* GENERAL RULES */

body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    color: white;
}

/* START HEADER SECTION */

/* START NAV BAR */

nav {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.container-nav-elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* END NAV BAR */

/* START CONTAINER HEADER */

.container-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-in-header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* END CONTAINER HEADER */

/* END HEADER SECTION */

/* START LINE ASIDE */
/* END LINE ASIDE */

/* START ASIDE SCROLL FIX */
/* END ASIDE SCROLL FIX */

/* START ARROW SECTION */
/* END ARROW SECTION */

/* START MAIN SECTION */

/* START BATCINE SECTION */
/* END BATCINE SECTION */

/* START NEMESIS SECTION */
/* END NEMESIS SECTION */

/* START BATSIDE */
/* END BATSIDE */

/* START ALLY SECTION */
/* END ALLY SECTION */

/* START JUSTICE SECTION */
/* END JUSTICE SECTION */

/* START MULTIMEDIA SECTION */
/* END MULTIMEDIA SECTION */

/* START CONTACT SECTION */
/* END CONTACT SECTION */

/* START CITATION SECTION */
/* END CITATION SECTION */

/* END MAIN SECTION */

/* START FOOTER SECTION */
/* END FOOTER SECTION */
