body{
    background-color: black;
    color: white;
}
header{
    background-image: url('../Assets/Illustrations/Bathome1.png');
    background-size: 100% 100%;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;      
}

.logo-home{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 20px;
}

.text-home{
    position: absolute;
    right: 20px;
    color: white;
    font-family: Rajdhani; 
    font-size: 1,5rem
}

.container{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.intro{
    color: white;
    font-family: Space Grotesk;
    text-align: center;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

}

.container-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.fleche-down{
    position: relative;
    top: 450px;
    width: 60px;    
    left: 450px;
    
}

.bat-title1{
    position: relative;
    top: 10px;
    color: white;
    font-family: Rajdhani;    
}

.perso-batman{
    color:white;
    font-family: Space Grotesk;
}

.bat-cine{
    position:relative;
    top: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-batman{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Space Grotesk;

}

.actor{
    text-align: center;
}

.nemesis-section{
    position: relative;
    top: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bat-shuriken{
    position:relative;
    width: 10%;
    top: -6rem;
    left: 4rem;
}

.nemesis-article{
    position: relative;
    top: -5rem;
    font-family: Space Grotesk;
}

.container-nemesis{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Space Grotesk;
}

.batman-side{
    position: relative;
    top: -20rem;
    left: 47.5rem;

}

.ally-section{
    position: relative;
    top: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ally-article{
    position: relative;
    top: -20rem;
    font-family: Space Grotesk;
}

.container-ally{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: -15rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Space Grotesk;
}

.justice-section{
    position: relative;
    top: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Space Grotesk;
}

.justice-pic{
    position: relative;
    width: 100%;
    top:37rem;
}


.multimedia{
    position: relative;
    top: 35rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Rajdhani;
}

.button-left, 
.button-right{
    position: relative;
    top: 7rem;
}

.container-classement{
    position: relative;
    display: flex;
    justify-content: space-around;
}


.container-right{
    position: relative;
    left: 2rem;
}


.container-all-center{
    position: relative;
    display: flex;
    width: 60%;
}

.bande-annonce{
    position: relative;
    top: 5rem;
}

.contact{
    position: relative;
    top: 43rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



footer{
    position: relative;
    top: 80rem;
    margin-bottom: 10rem;
}

.WB{
    position: relative;
    display: flex;
    width: 47rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.logos{
    position: relative;
    display: flex;
    width: 20rem;
    height: 1.8rem;
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    justify-content: space-between;
    
}